*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#buttons{
    display: flex;
    gap: 1.5rem;
}

.monthButton{
    border: 0;
    background-color: rgb(210, 210, 210);
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem;
}

.monthButton:hover{
    background-color: rgb(190, 190, 190);
}

.monthButton:active{
    background-color: rgb(150, 150, 150);
}

#kalender{
    background-color: lightgray;
    width: 30rem;
    height: 30rem;
}

.nummers:nth-child(even){
    background-color: red;
}

.js--currentDay{
    background-color: yellow;
}