@font-face {
    font-family: 'm6x11';
    src: URL('font/m6x11.ttf') format('truetype');
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}

body {
    font-size: 2rem;
    font-family: "m6x11", sans-serif;
    color: white;
    background-image: linear-gradient(rgb(73, 141, 112), rgb(44, 94, 72));
    height: 100vh;
    display: flex;
}

aside {
    background-color: rgb(46, 58, 60);
    width: 42rem;
    margin-left: 7rem;
    padding: 8rem 1rem;
    border-left: rgb(0, 104, 173) solid 0.5rem;
    border-right: rgb(0, 104, 173) solid 0.5rem;
}

#blindInfo {
    background-color: rgb(30, 43, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem rgb(11, 20, 21);
}

#blindInfo-name-wrapper {
    background-color: rgb(0, 104, 173);
    width: 100%;
    height: 6rem;
    border-radius: 1rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem rgb(0, 63, 111);
}

#blindInfo-requiredScoreWrapper{
    background-color: rgb(14, 67, 95);
    width: 100%;
    height: 23rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cards{
    display: flex;
}

.card {
    border: 0.1rem black solid;
}