*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 37);
    padding: 1rem;
    color: white;
}

aside {
    position: sticky;
    padding: 2rem;
    max-height: 100vh;
    top: 1rem;
}

aside>p {
    color: gray;
    margin-bottom: 1rem;
}

aside>ul {
    color: white;
    margin-left: 1rem;
}

#left {
    width: 30%;
    border-right: gray 0.1rem solid;
}

#topics {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#topics>li:hover {
    cursor: pointer;
}

main {
    width: 100%;
    padding: 1rem;
}

li {
    list-style-type: none;
}

#posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post {
    display: flex;
    flex-direction: column;
    border: 0.1rem gray solid;
    gap: 0.5rem;
    padding: 0.5rem;
}

.userDate {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.user {
    font-weight: bold;
}

.user:hover {
    cursor: pointer;
}

.date {
    color: darkgray;
}

.infoBar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.infoBar>p:hover {
    cursor: pointer;
}

#right {
    width: 30%;
    border-left: gray 0.1rem solid;
}

#communities {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#communities>li:hover {
    cursor: pointer;
}

#filler {
    height: 50vh;
}